p
{
    font-family: 'Cantarell', sans-serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'PT Serif', serif;
}

.project-text
{
    background-color: #F4B646;
    margin: 0;
    padding: 0;
}

.project-img
{
    padding: 0;
    margin: 0;
}

.social-button
{
    margin: 7px;
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    transition-duration: .25s;
    border-width: 0;
    position: relative;
}
#github:hover
{
    transition-duration: .25s;
    color: #4A0091;
}
#twitter:hover
{
    color: #1C9CEA;
    transition-duration: .25s;
}
#join:hover
{
    color: #c20000;
    transition-duration: .25s;
}

.generic_button {
    border: solid #F4B646 2px;
    border-radius: 3px;
    background-color: #F4B646;
    width: 7rem;
    height: 2.5rem;
    transition-duration: .25s;
}
.generic_button:hover {
    transition-duration: .25s;
    background-color: transparent;
}

.col-md
{
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
}

.center-cropped {
    background-position: center top;
    background-size: cover;
}

.container
{
    max-width: 1150px
}

.sponsorbox {
    background-color: white;
    position: relative;
    width: 100%; /* desired width */
    border-radius: 5px;
}
.sponsorbox:before {
    content:     "";
    display:     block;
    padding-top: 70%;
}
.sponsor-image {
    margin: 15px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    transition-duration: .25s;
}
.sponsor-image:hover
{
    transition-duration: .25s;
    margin: 10px;
}

.box {
    position: relative;
    width: 100%; /* desired width */
}
.box:before {
    content:     "";
    display:     block;
    padding-top: 75%; /* initial ratio of 1:1*/
}

.content {
    background-position: center center;
    background-size: cover;
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}

.project-description
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}